<div class="wrapper">
  <h3>Basic Buttons</h3>
  <app-button btnLabel="Primary"></app-button>
  <app-button btnColor="accent" btnLabel="Accent"></app-button>
  <app-button btnColor="warn" btnLabel="Warn"></app-button>

  <h3>Stroked Buttons</h3>
  <app-button btnType="stroked" btnLabel="Primary"></app-button>
  <app-button
    btnType="stroked"
    btnColor="accent"
    btnLabel="Accent"
  ></app-button>
  <app-button btnType="stroked" btnColor="warn" btnLabel="Warn"></app-button>

  <h3>Flat Buttons</h3>
  <app-button btnType="flat" btnLabel="Primary"></app-button>
  <app-button btnType="flat" btnColor="accent" btnLabel="Accent"></app-button>
  <app-button btnType="flat" btnColor="warn" btnLabel="Warn"></app-button>
</div>
