<div class="wrapper">
  <h2>Basic Buttons</h2>
  <app-button btnLabel="Primary"></app-button>
  <app-button btnColor="secondary" btnLabel="Secondary"></app-button>
  <app-button btnColor="accent" btnLabel="Accent"></app-button>
  <app-button btnColor="warn" btnLabel="Warn"></app-button>

  <h2>Stroked Buttons</h2>
  <app-button btnType="stroked" btnLabel="Primary"></app-button>
  <app-button
    btnType="stroked"
    btnColor="secondary"
    btnLabel="Secondary"
  ></app-button>
  <app-button
    btnType="stroked"
    btnColor="accent"
    btnLabel="Accent"
  ></app-button>
  <app-button btnType="stroked" btnColor="warn" btnLabel="Warn"></app-button>

  <h2>Flat Buttons</h2>
  <app-button btnType="flat" btnLabel="Primary"></app-button>
  <app-button
    btnType="flat"
    btnColor="secondary"
    btnLabel="Secondary"
  ></app-button>
  <app-button btnType="flat" btnColor="accent" btnLabel="Accent"></app-button>
  <app-button btnType="flat" btnColor="warn" btnLabel="Warn"></app-button>

  <h2>Custom Buttons</h2>
  <app-button btnColor="green-btn" btnLabel="Green Btn"></app-button>
  <app-button btnColor="red-btn" btnLabel="Red Btn"></app-button>
  <app-button btnColor="yellow-btn" btnLabel="Yellow Btn"></app-button>
  <app-button btnColor="dark-btn" btnLabel="Dark Btn"></app-button>
  <app-button btnColor="white-btn" btnLabel="White Btn"></app-button>

  <h2>Custom Buttons Flat</h2>
  <app-button
    btnType="flat"
    btnColor="green-btn"
    btnLabel="Green Btn Flat"
  ></app-button>
  <app-button
    btnType="flat"
    btnColor="red-btn"
    btnLabel="Red Btn Flat"
  ></app-button>
  <app-button
    btnType="flat"
    btnColor="yellow-btn"
    btnLabel="Yellow Btn Flat"
  ></app-button>
  <app-button
    btnType="flat"
    btnColor="dark-btn"
    btnLabel="Dark Btn Flat"
  ></app-button>
  <app-button
    btnType="flat"
    btnColor="white-btn"
    btnLabel="White Btn Flat"
  ></app-button>

  <h2>Custom Buttons Stroked</h2>
  <app-button
    btnType="stroked"
    btnColor="green-btn"
    btnLabel="Green Btn Stroked"
  ></app-button>
  <app-button
    btnType="stroked"
    btnColor="red-btn"
    btnLabel="Red Btn Stroked"
  ></app-button>
  <app-button
    btnType="stroked"
    btnColor="yellow-btn"
    btnLabel="Yellow Btn Stroked"
  ></app-button>
  <app-button
    btnType="stroked"
    btnColor="dark-btn"
    btnLabel="Dark Btn Stroked"
  ></app-button>
  <app-button
    btnType="stroked"
    btnColor="white-btn"
    btnLabel="White Btn Stroked"
  ></app-button>
</div>
